<h2 class="content-block">Display Data</h2>

<dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [columns]="['Id', 'Name', 'CV', 'IsCurrent', 'LastUpdated']"
    >

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    
    <dxi-column
        dataField="Id"
        [width]="90"
        [hidingPriority]="2">
    </dxi-column>
    <dxi-column
        dataField="Name"
        [width]="190"
        caption="Name"
        [hidingPriority]="8">
    </dxi-column>
    <dxi-column
        dataField="CV"
        caption="CV"
        [hidingPriority]="6">
    </dxi-column>
    <dxi-column
        dataField="IsCurrent"
        caption="IsCurrent"
        [hidingPriority]="5">
        <dxo-lookup
            [dataSource]="isCurrent"
            valueExpr="value"
            displayExpr="name">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
        dataField="LastUpdated"
        [width]="125"
        dataType="date">
    </dxi-column>

</dx-data-grid>
